
<% country.au_countries.each do |c| %>
    <% c.last_advices.each do |a| %>
        Advice for <%= a.area %>:<br/>
        <strong><%= AULevel[a.level] %></strong><br/>
        <br/>
    <% end %>
    For more information, please refer to the <br/>
    <a href="<%= c.url %>">DFAT travel page for <%= c.name %></a>.<br/>
<% end %>
